.root, .login {
  border: 2px solid rgb(190, 195, 210);
  border-radius: 3.5rem;
  background-image: linear-gradient(rgb(0, 22, 104), rgb(6, 0, 78), rgb(6, 0, 42));
}

.register {
  width: 70rem;
  margin: 0;
  border: 2px solid rgb(190, 195, 210);
  border-radius: 3.5rem;
  background-image: linear-gradient(rgb(0, 22, 104), rgb(6, 0, 78), rgb(6, 0, 42));
}
