@import '../../assets/styles/common';

.createapp {
  display: flex;
  flex-direction: column;

  &__textfield {
    margin-top: 1rem;
    border-radius: 1.1rem;
    font-size: 1.6rem;

    &--active {
      @extend .createapp__textfield;

      border: 2px solid $input-green;

      &-red {
        @extend .createapp__textfield;

        border: 2px solid red;
      }

      &-glowless {
        @extend .createapp__textfield;

        border: 2px solid $blue-light;
        box-shadow: none;

        &::after {
          box-shadow: none;
        }
      }
    }
  }

  @media only screen and (max-width: 1400px) {
    @media only screen and (max-width: 768px) {
      overflow: scroll;
    }

    &__header-txt {
      font-size: 2.5rem;
    }
  }

  &__btn {
    font-size: 1.6rem;
    background-color: $blue-light;
  }

  &__header {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    line-height: $dashboard__header-height;
    background: $app-bg-secondary;

    &-txt {
      margin-left: 8.7rem;
      font-size: $dashboard__header-category;
    }

    &-img {
      vertical-align: middle;
    }
  }

  @media only screen and (max-width: 1400px) {
    &__header-txt {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 768px) {
      &__carousel {
        width: 100%;
      }
    }

    @media only screen and (max-width: 700px) {
      overflow: scroll;
    }
  }
}
