.card {
  max-width: 285px;
  filter: brightness(85%);
}

.selectOutline {
  border-radius: 10px;
}

.select {
  min-width: 290px;
  font-size: 1.6rem;
}

.selectIcon {
  width: 3rem;
  height: 3rem;
}

.selectBorder {
  border: 2px #34ff34;
}

.button {
  margin: 1rem;
  font-size: 1.6rem;
  color: white;
  background-color:  rgb(51, 153, 255);
}

.button:hover {
  background-color: rgb(17, 107, 197);
}

.menuitem li {
  font-size: 1.6rem;
}

.selectlabel {
  line-height: 2;
  font-size: 1.6rem;
}
