.formControlLabel {
  font-size: 1.5rem;
}

.button {
  margin: 1rem;
  font-size: 1.6rem;
  color: white;
  background-color:  rgb(51, 153, 255);
}

.button:hover {
  background-color: rgb(17, 107, 197);
}
