@import '../../assets/styles/common';

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;

  &__header-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
  }

  &__table-row {
    font-size: 1.4rem;
  }

  &__creds-container {
    padding: 5px 10rem;
  }

  @media only screen and (max-width: 1400px) {
    &__header-txt {
      margin: 1rem 0;
      font-size: 2rem;
    }
  }
}
