.card {
  max-width: 285px;
  filter: brightness(85%);
}

.header {
  font-size: 1.6rem;
  text-align: center;
}

.row {
  font-size: 1.4rem;
  text-align: center;
}

.svgIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.addIcon {
  width: 5rem;
  height: 5rem;
  color: #3399ff;
}

.addIcon:hover {
  color: #001668;
}
