.button {
  margin: 1rem;
  font-size: 1.6rem;
  color: white;
  background-color:  rgb(51, 153, 255);
}

.buttoncancel {
  margin: 1rem;
  font-size: 1.6rem;
  color: white;
  background-color:  rgb(112, 112, 112);
}
