.peerplayslogin {
  &-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54.5rem;
    margin: auto;
    background-size: cover;

    &__logo {
      width: 100%;
      max-width: 360px;
    }
  }

  &__subHeader {
    margin-top: 6rem;
    font-style: italic;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 3px 3px 4px #003366;
  }

  @media only screen and (max-width: 1400px) {
    &-page {
      width: 100%;
    }

    &__btn-img {
      width: 65%;
    }

    &__subHeader {
      margin-top: 4rem;
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 768px) {
      &-page {
        &__logo {
          max-width: 70%;
        }
      }
    }
  }
}
